/*
#SwordDisplay {
    background-color: red;
}

#ShardDisplay {
    background-color: blue;
}

#DismantleButton {
    background-color: green;
}

#CraftButton {
    background-color: magenta;
}
    */