body {
    background-color: #232323;
    color: white;
    font-family: "Roboto", sans-serif;
}

.CenterTitle {
    text-align: center;
    font-weight: 900;
}

.TwoColumn {
    display: flex;
    gap: 20px;
    padding: 20px;
}

#SwordDisplay {
    width: 50%;
    padding: 20px;
    border-radius: 25px;
    overflow-wrap: break-word;
    box-shadow: 6px 6px 12px #1a1a1a, -6px -6px 12px #2c2c2c;
}

#ShardDisplay {
    width: 50%;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 6px 6px 12px #1a1a1a, -6px -6px 12px #2c2c2c;
}

.button {
    all: unset;
    padding: 10px;
    color: #232323;
    border-radius: 25px;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
    transition: 0.4s;
}

#DismantleButton {
    background-color: #FFAA00;
}

#CraftButton {
    background-color: #55AAFF;
}

commonsword {
    color: #bfbfbf;
}
uncommonsword {
    color: #50f050;
}
raresword {
    color: #50a0f0;
}
epicsword {
    color: #a050f0;
}
legendarysword {
    color: #ff9124;
}
godlysword {
    color: #ef4f4f;
}